/* Фон.Цвет ширины блока растянут на всю страницу */
.element {
    background-color: lightpink;
    width: 400px;
    height: 200px;
    margin: 30px;
    padding: 15px;
    border: 1px solid black;
}

/* Убираем body. Высоту с каждой стороны зеленого цвета */

.html, body {
    margin: 0;
    padding: 0;
}

/* Увеличиваем header и добавляем отступы по краям */
/* Сверху и снизу отступы == 0 */
header {
    height: 100px;
    padding: 0 40px;
}

/* настройка отступов ссылок и номера в header */
/* display: flex; - размещение элементов внутри контейнера свободным образом */
/* align-items: center; - выравнивание по центру */
header > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* background-color - убрали голубой фон */
.fixed-container {
    max-width: 1000px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    /* background-color: lightblue; */
}

section {
    padding: 40px;
}

.first-block {
    height: 300px
}
/* Выравниваем по вертикали. Сверху вниз */
/* backround-image для икоки справа Robot */
/* backround-size - меняем фон */
/* contain - картинка упирается в высоту или  ширину контейнера*/
/* background-repeat: no-repeat; - чтобы картинка на повторялась друг за другом */
/*  background-position: right center; - по правому краю и по вертикали по центру  */
.first-block > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;  
    background-image: url('img/YoungMan.png');   
    background-size: contain;   
    background-repeat: no-repeat;
    background-position: right center;
}

/* margin-bottom: 30px; - отступ кнопки */
.services {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

}
/* каждому отдельному элементу внутри зададим одинаковую ширину */

.services > div {
    width: 200px;
}

.services img {
    width: 150px;
}

footer {
    padding: 40px;
}
